<div class="row align-items-center no-gutters mb-4 mb-lg-5" data-id="<%= portfolio_item.id %>">
  <div class="col-xl-8 col-lg-7">
    <% if portfolio_item.thumb_image != nil %>
      <%= image_tag portfolio_item.thumb_image, class: 'img-fluid mb-3 mb-lg-0' %>
    <% end %>
  </div>
  <div class="col-xl-4 col-lg-5">
    <div class="featured-text text-center text-lg-left">
      <h4><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></h4>
      <p class="text-black-50 mb-0"><%= portfolio_item.subtitle %></p>
    </div>
  </div>
</div>

