
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p><a target="_blank" href="https://github.com/ShunshunL">
                  <%= fa_icon "github", class: "fa-3x" %>
                </a></p>
    <p>
    <%= copyright_generator %>
    </p>
  </div>
</footer>