
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Portfolio</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">This is a space where I post the things I've built. Take a look and chat with me if you're interested in working with me.</h2>
      <br />
      <br />
      <br />
      <h1 class="text-white-50 mx-auto mt-2 mb-5">☟</h1>
      <%# link_to 'My Blog', blogs_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</header>