

<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Portfolio</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">In this portfolio I'll add on my projects that I'll build over the years. Work in progress...</h2>
      <%# link_to 'Find Out More About Me', about_me_path, class: 'btn btn-primary' %>
      <%# link_to 'My Blog', blogs_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</header>