<h1 class="about-me">About Me</h1>

<hr>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile-pic.png", width: 200, alt: "spongebob profile pic" %>
  </div>
  <div class="col-md-8">
    <h5><p>My name is Shunshun Lyu. I'm an aspiring software engineer and I've built this
    website as a showcase for my projects and blog posts. The website was created 
    using Ruby on Rails, ActiveRecord, PostgreSQL, and Bootstrap CSS. It's my goal to keep on learning
    and improving my skills. Please feel free 
    to take a look around, check out some of my portfolio projects, and contact me if you want to work together!</p></h5>
  </div>
</div>