<h1>Hi, <%= current_user.first_name %>.</h1>

<main role="main" class="inner cover">
  <%# <h1 class="cover-heading">Welcome.</h1> %>
  <p class="lead">Welcome to my website. </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>